@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    max-width: 1200px;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.day-thumbnail{
    height: 150%;
    width: 150%;
}

.history-btn {
    cursor: pointer;
}


